<% for(var i=0; i<items.length; i++){ %>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/320x150" alt="">
      <div class="caption">
        <h4 class="pull-right"><%=items[i].cantidad%></h4>
        <h4><a><%=items[i].nombre%></a></h4>
        <p><%=items[i].peso%></p>
        <p><%=items[i].idBodega.nombre %></p>
      </div>
      <p>
        <a href="/Bodega/eliminiarBodega?id=<%=items[i].id %>" class="btn btn-danger btn-block" role="button">Borrar</a>
        <a href="/editarBodega?id=<%=items[i].id%>" class="btn btn-primary btn-block" role="button">Editar</a>
      </p>
    </div>
  </div>
  <%  } %>
